{% extends 'registration/account.html'%} {% load static %}
{% block Profile %} 
{% if messages %}
        {% for message in messages %}
        <div id="message" class="message {{ message.tags }} show ">
          <p>{{ message }}</p>
        </div>
        <script>
          setTimeout(() => {
            document.querySelector('#message').classList.remove('show')
            document.querySelector('#message p').innerHTML = ""
          }, 4000)
        </script>

        {% endfor %}
        {% endif %}
<div class="form card" >
    
    
    <div class="head">
        <h2> change Password </h2>
    </div>
    <form method="POST" action="{% url 'changeCustomer-Password' %}">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit" class="submit-btn">change</button>
    </form>

</div>
{% endblock Profile %} 