{% load static %}
<div class="form-box" >
  <h2>Welcome Back</h2>
  <p> Login to start your new Journey</p>
  <form method="POST" id="login-form" autocomplete="off">
    {%csrf_token%}
    <p class="center">
      <i class="fa fa-envelope icon"></i>
      <input type="email" name="email" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150" class="pr"
        required="" id="id_email">
    
    </p>
    <p class="center">
      
      <i class="fa fa-lock icon"></i>

      <input type="password" name="password" autocomplete="current-password" required="" id="id_password" class="pr">

      <i class="fa fa-eye eye right" onclick="seepassWord(this)"></i>
    </p>
    <div class="alert">
      Login with sucess
    </div>
    <a href="{% url 'reset_password' %}" class="forget-link">  Forget Password ?</a>
    
    <button type="submit" class="btn">Login</button>
  </form>


  <script>
    
    const l_mess = document.querySelector(' #login-form .alert')
    console.log(loadere);
    $(document).on("submit", "#login-form", function (e) {

      console.log('yes');
      e.preventDefault();
      loadere.classList.add('show')
      $.ajax({
        type: "POST",
        url: '{% url "login-user" %}',
        data: {
          email: $("#id_email").val(),
          password: $("#id_password").val(),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: "post",
        },
        success: function (json) {
          message(json.message, json.type , l_mess)
          if (json.type == "error") {
            loadere.classList.remove('show')
          }
          if (json.type == "success") {
            loadere.classList.add('show')
            login_success()
     
          }
        
        },
        error: function (xhr, errmsg, err) {
        
        message('There is a problem, please try again.', 'error', l_mess)
       },
      });
    });
   
  </script>

</div>