{% extends 'admin_pages/setting.html'%}
{% load static %}
{% block adminnav %}
<div class="sidebar-button">
  <span class="dashboard">Change password</span>
</div>
<div class="links f-start">
  <a href="{% url 'admin-page' %}"><i class="fa fa-home"></i></a><span>/</span><span class="see">Password</span>
</div>

{% endblock %}
{% block profileforms %}
<style>
  #change_password {
    background: #fda090 !important;
  }
</style>


<div class="form box">
  <form method=POST>

    {% csrf_token%}
    {{form.as_p}}
    {% if form.errors %}
    <div class="alert danger show">
      {% for field in form %}

      {% for error in field.errors %}

      <p> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ error }}</p>

      {% endfor %}
      {% endfor %}
    </div>
    {% endif %}
    <button type="submit" class="btn">Change</button>

  </form>
</div>

{% endblock %}