{% extends 'registration/reset.html'%}
{% load static %}
{% block title %} | Password has been reset{% endblock title %}
{% block reset %} 
<h3>Password has been reset</h3>

<p>Your password has been set. You can continue and log in now.</p>
<script src="{% static '/js/jquery-3.6.0.min.js'%}"></script>

{% include 'registration/login.html' %}
<script>
  function message(text, type) {
    
      const mess = document.querySelector('.alert')
      mess.classList = []
  
      mess.innerHTML = text
      mess.classList.add("alert","show", type)
      setTimeout(() => {
        mess.classList.remove("show")
      }, 4000)
    }
    function login_success() {
      document.location='{% url "home" %}'
    }
</script>
{% endblock %}