{% extends 'registration/reset.html'%}  

{% block title %} | change password{% endblock title %}
{% block reset %} 
{% if validlink %}
<h3>Enter the new password</h3>

<p>Please enter your new password twice to make sure you type it correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form.as_p}}
	<input type="Submit" value="Change the password" class="btn">
	
</form>
{% else %}
<h3>Password reset failed</h3>
<p>The password recovery link is incorrect, probably because it has been used before. Please ask to recover your password again.</p>
{% endif %}
{% endblock %}